<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title of the webpage-->
    <title>Netflix South Africa- Watch TV Shows Online, Watch Movies Online</title>
    <!--Link for the netflix logo icon-->
    <link rel="shortcut icon" href="src/images/netflix_logo_icon_170919.png" type="image/x-icon">
     <!--Link for the CSS stylesheet-->
    <link rel="stylesheet" href="css/sign_up.css">
</head>

<body>

    <div id="app-register">
        <header class="showcase">
            <div class="logo">
                <img src="https://i.ibb.co/r5krrdz/logo.png" alt="netflix logo">
            </div>

            <div class="showcase-content">
                <div class="form">

                    <div class="card">
                        <div class="card-body width:100%">
                            <h1 class="card-title">Unlimited movies, TV shows, and more.</h1><br><br>
                            <h2 class="card-subtitle mb-2 text-muted">Watch anywhere. Cancel anytime.</h2><br>
                            <h6 class="card-text">Ready to watch? Enter your email to create or restart your membership?</h6>
                
                            <div class="info">
                                <input class="email" type="email" v-model="input.username" name="email"
                                    placeholder="Email or phone number" required> <br><br>
                               
                                <input class="email" type="password" v-model="input.password" placeholder="Password" maxLength="8"><br><br>

                                <input class="email" type="password" id="psw" name="psw" v-model="input.confirmpassword"
                                placeholder="Confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                required maxLength="8"><br><br>


                            <div class="btn">
                                <!--When the user clicks the sign up button, they should be directed to the sign in webpage-->
                                <button class="btn-primary"  type="submit" value="Submit" v-on:click="register()">Sign Up</button>
                            </div>
                           
                        </div>

                    </div>

                </div>

            </div>

            <footer>
                <div class="ftr-content">
                    <div class="contact">
                        <a href="#">Questions? Contact 0 801-000-723.</a>
                    </div>

                    <ul class="ftr">
                        <a href="#">FAQ</a>
                        <a href="#">Help Center</a>
                        <a href="#">Terms of Use</a>
                        <a href="#">Privacy</a>
                        <a href="#">Cookie Preferences</a>
                        <a href="#">Corporate Information</a>
                    </ul>
                    
                </div>
            </footer>
        </header>
    </div>

     <!--Vue scripts-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

    <!--Link for JavaScript-->
    <script src="js/sign_up.js"></script>

</body>

</html>