@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper::before {
    content: '';
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.wrapper {
    background-image: url('../images/Netflix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
    background-position: center center;
}

.userLogin {
    margin: 0px 344.25px -236px;
    padding: 0px 63.25px;
}

.logo {
    width: 180px;
    object-fit: contain;
}

.login-header {
    width: 1280px;
    height: 90px;
    padding: 20px 50px;
    position: relative;
    z-index: 10;
    background: none;
}

.login-form-content {
    width: 450px;
    height: 610px;
    background: #000000BF;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0px 0px 90px;
    padding: 60px 68px 40px;
    margin-left: 50%;
    position: relative;
    z-index: 90;
    transform: translateX(-50%);
}

.login-page-title {
    width: 314px;
    height: 36px;
    font-size: 32px;
    margin: 0px 0px 28px;
    color: #FFFFFF;
}

.form-control {
    height: 50px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    color: #8C8C8C;
    background: #333333;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;

}

.submit {
    width: 314px;
    height: 48px;
    margin: 24px 0px 12px;
    color: #fff;
    background: #e50914;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #e50914;
}

.login-help {
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
}

.login-help input {
    width: 15px;
    height: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.remember span {
    margin-right: 10px;
    height: 25px;
}

.sign_up {
    color: #737373;
    font-size: 16px;
}

.sign_up a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}

/*Media Queries*/

/*code for mobile devices smaller that 480px*/
@media only screen and (max-width:480px) {
    .wrapper {
        max-width: 100%;
        height: 100%;
        font-size: 6px;
    }
}

/*Medium devices(tablets, 768px)*/
@media only screen and (max-width:768px) {
    .wrapper {
        max-width: 100%;
        height: 100%;
        font-size: 6px;
    }
}

/*Large devices(laptops,992px and up)*/
@media only screen and (max-width:1024px) {
    .wrapper {
        max-width: 100%;
        height: 100%;
        font-size: 6px;
    }
}

@media only screen and (max-width:1200px) {
    .wrapper {
        max-width: 100%;
        height: 100%;
        font-size: 6px;
    }
}

